@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  padding: 40px 0 0;
  margin: 0;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 16px;
  line-height: 1.5;
}

h1 {
  font-weight: 700;
}

p {
  margin-bottom: 20px;
}

.container {
  max-width: 350px;
  margin: 0 auto;
}

.switch-wrapper {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}