@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap");

:root {
  --bg-color: #fff;
  --text-color: #141414;
}

[data-theme="dark"] {
  --bg-color: #120338;
  --text-color: #efdbff;
}

* {
  box-sizing: border-box;
}

body {
  padding: 40px 0 0;
  margin: 0;
  font-family: "Ubuntu Mono", monospace;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--bg-color);
  transition: 0.3s background-color ease;
}

h1 {
  font-weight: 700;
}

p {
  margin-bottom: 20px;
}

.container {
  max-width: 350px;
  margin: 0 auto;
}

.switch-wrapper {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}

h1,
p {
  transition: 0.3s color ease;
  color: var(--text-color);
}

.theme-switch {
  display: none;
}

.theme-switch + label {
  position: relative;
  padding-left: 65px;
  cursor: pointer;
  color: var(--text-color);
}

.theme-switch + label::after {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 30px;
  width: 55px;
  border-radius: 30px;
  background-color: #ccc;
  margin-right: 12px;
  transition: 0.4s background-color ease;
  content: "";
}

.theme-switch + label::before {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  left: 3px;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-color: #fff;
  content: "";
  transition: 0.4s transform ease;
}

.theme-switch:checked + label::after {
  background-color: #ffd87f;
}

.theme-switch:checked + label::before {
  transform: translate(25px, -50%);
}
